.nav__logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  
  

  &--header {
    color: var(--total-black);

    transition: color 250ms var(--timing-function);
  }

  &--footer {
    color: var(--basic-white-color);

    transition: color 250ms var(--timing-function);
  }

  &:hover,
  &--header:hover,
  &--footer:hover {
    color: var(--accent-color);
  }
}
