
  .work {
    @media screen and (max-width: 1199px) {
      display: none;
      
    }
    margin-bottom: 94px;
    
  }
  
  
  .work-block {
    display: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .work__title,
  .team__title,
  .client__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  
  .work-block__img {
    position: relative;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .work-overlay {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(47, 48, 58, 0.8);
  
    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-weight: 700;
      text-transform: uppercase;
  
      color: var(--basic-white-color);
    }
  }



